* {
    margin: 0;
    padding: 0;
}
.wrapper {
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    position: relative;
}
header {
    background: linear-gradient(9deg, #91EAE4, #86A8E7, #7F7FD5);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px;
}
h1 {
    color: #fff;
}
input {
    width: 170px;
    height: 35px;
    border: none;
    border-radius: 2px;
    padding: 0 10px;
    box-sizing: border-box;
}
input::placeholder {
    color: #b6b6b6;
}
label {
    color: #fff;
}

ul {
    list-style: none;
}
ul li {
    display: flex;
    padding: 15px;
}
ul li .item {
    flex: 7;
}
ul li .favorite{
    flex: 1;
}
ul li .manage{
    display: flex;
    justify-content: space-between;
    flex: 1;
}
.done .item {
    text-decoration: line-through;
    color: #ccc;
    transition:.2s;
}
.done .icon-check {
    color: #b9b9b9;
    transition:  .2s;
}
.icon-like {
    color: #7F7FD5;
    cursor: pointer;
    font-size: 30px;
}
.icon-check {
    color: #86A8E7;
    cursor: pointer;
    font-size: 30px;
}
.icon-clear {
    color: #888;
    cursor: pointer;
    font-size: 30px;
}
button {
    position: fixed;
    bottom: 15px;
    left: 15px;
    width: 50px;
    height: 50px;
    background-color: #86A8E7;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}
.icon-delete {
    font-size: 35px;
    color: #fff;
}